@-moz-document domain("twitter.com") {

	html,body{}
	.promptbird,
	.nav>li>a .text,
	.BannersContainer,
	.wrapper-home .dashboard,
	.wrapper .mini-profile,
	.wrapper .wtf-module,
	.wrapper .trends,
	.wrapper .Footer,
	.wrapper .enhanced-media-thumbnails,
	.wrapper .module.component,
	.wrapper .newest-members-module,
	.header-inner,
	.is-preview,
	.expanded-content,
	.tweet-actions,
	.signup-call-out.profile-signup-call-out
	{display:none !important;}
	.wrapper {
		width: 90% !important;
	}

	.dashboard, .content-main {
		width: auto !important;
		float: none !important;
	}

	.wtf-module, .trends, .site-footer {
		display: none !important;    
	}
	/* Comment the below out to fix media on TL*/

	.tweet .js-macaw-cards-iframe-container,
	.tweet .AdaptiveMedia,
	.tweet .QuoteMedia {
		display: none !important;
	}

	.tweet .js-macaw-cards-iframe-container[data-card-name*="poll"] {
		display: block !important;
	}

	.permalink-tweet .js-macaw-cards-iframe-container,
	.permalink-tweet .AdaptiveMedia,
	.permalink-tweet .QuoteMedia,
	.opened-tweet .js-macaw-cards-iframe-container,
	.opened-tweet .AdaptiveMedia,
	.opened-tweet .QuoteMedia {
		display: block !important;
	}

	.twitter-timeline-link.u-hidden,
	.twitter-timeline-link.u-hiddenVisually {
		width: auto !important;
		height: auto !important;
		clip: auto !important;
		position: relative !important;
		display: inline !important;
	}

	a.twitter-timeline-link.u-hidden::before,
	a.twitter-timeline-link.u-hiddenVisually::before {
		content: " ";
	}
	
	/* stop commenting shit out here */
	
	/* fix to the fucking dumb rounded garbage 15/06/2017 */
		.edge-design .avatar, .EdgeButton, .edge-design .Avatar, .edge-design .DashboardProfileCard-avatarImage, .edge-design .DashboardProfileCard-avatarLink, .edge-design .Gallery.is-tweetless .Gallery-content, .edge-design .Gallery.is-tweetless .Gallery-media, .edge-design .MomentCapsuleCover .MomentUserByline-avatar, .edge-design .MomentCapsuleItemTweet--withText .MomentUserByline-avatar, .edge-design .MomentCapsuleSummary .MomentUserByline-avatar, .edge-design .MomentMakerRecommendedTweetsSearch--users .MomentMakerRecommendedTweetsSearch-userContainer .avatar, .edge-design .ProfileAvatar, .edge-design .ProfileAvatar-image, .edge-design .ProfileAvatar-placeholderImage, .edge-design .ProfileAvatarEditing, .edge-design .ProfileAvatarEditing-button, .edge-design .ProfileAvatarEditing-overlay, .edge-design .ProfileCard-avatarImage, .edge-design .ProfileCard-avatarLink, .edge-design .ProfileCardMini-avatarImage, .edge-design .ProfileListItem-avatar, .edge-design .ProfileUserList .Avatar , .nav .session .dropdown-toggle {
		border-radius: 5px !important;
	}
	
	.RichEditor, .global-nav .search-input{
		border-radius: 0px !important;
	}	
}



